<!DOCTYPE html>
<html>
<head>
  <title>LayoutAssignment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style media="screen">
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }

  th{
  background-color: lightyellow;
  font-weight:bolder;
  }

  td, th {
  border: 3px solid black;
  text-align: left;
  padding: 8px;
  }

  tr:nth-child(even){
  background-color: lightgreen;
  }

  tr:nth-child(odd){
  background-color: lightblue;
  }

  #submit{
    color:white;
    background-color: blue;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px
  }

  #all{
    display: inline-block;
    background-color: lightblue;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    padding-top: 10px;
    text-align: center;
  }
</style>
<body>

<%= render 'shared/header' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4" style="background-color:#F5F5DC">
      <%= yield :left %>
    </div>

    <div class="col-sm-12 col-md-4" style="background-color:#F0FFFF">
      <%= yield :middle %>
    </div>

    <div class="col-sm-12 col-md-4" style="background-color:#FFE4C4">
      <%= yield :right %>
    </div>

  </div>
</div>

<%= render 'shared/footer' %>
</body>
</html>
